# 1-Day Retention Rate

In [28]:
sql_query = """
    COUNT(DISTINCT CASE 
        WHEN DATE_DIFF(event_date, first_event_date) = 1 THEN user_id 
        ELSE NULL 
    END) /
    COUNT(DISTINCT CASE 
        WHEN DATE_DIFF(CURRENT_DATE(), first_event_date) >= 1 THEN user_id 
        ELSE NULL 
    END)
"""

print(sql_query)

    COUNT(DISTINCT CASE
        WHEN DATE_DIFF(event_date, first_event_date) = 1 THEN user_id
        ELSE NULL
    END) /
    COUNT(DISTINCT CASE
        WHEN DATE_DIFF(CURRENT_DATE(), first_event_date) >= 1 THEN user_id
        ELSE NULL
    END)

# 7-Day Retention Rate

In [29]:
query = """
    COUNT_DISTINCT(
        CASE 
            WHEN DATE_DIFF(event_date, first_event_date) = 7 THEN user_id 
            ELSE NULL 
        END
        ) /
        COUNT_DISTINCT(
        CASE 
            WHEN DATE_DIFF(CURRENT_DATE(), first_event_date) >= 7 THEN user_id 
            ELSE NULL 
        END
    )
"""

print(query)

    COUNT_DISTINCT(
        CASE
            WHEN DATE_DIFF(event_date, first_event_date) = 7 THEN user_id
            ELSE NULL
        END
        ) /
        COUNT_DISTINCT(
        CASE
            WHEN DATE_DIFF(CURRENT_DATE(), first_event_date) >= 7 THEN user_id
            ELSE NULL
        END
    )

# 30-Day Retention Rate

In [30]:
query = """
    COUNT_DISTINCT(
        CASE 
            WHEN DATE_DIFF(event_date, first_event_date) = 30 THEN user_id 
            ELSE NULL 
        END
        ) /
        COUNT_DISTINCT(
        CASE 
            WHEN DATE_DIFF(CURRENT_DATE(), first_event_date) >= 30 THEN user_id 
            ELSE NULL 
        END
    )
"""

print(query)

    COUNT_DISTINCT(
        CASE
            WHEN DATE_DIFF(event_date, first_event_date) = 30 THEN user_id
            ELSE NULL
        END
        ) /
        COUNT_DISTINCT(
        CASE
            WHEN DATE_DIFF(CURRENT_DATE(), first_event_date) >= 30 THEN user_id
            ELSE NULL
        END
    )

# ARPPU (Average Revenue Per Paying User)

In [31]:
query = """
    SUM(CAST(revenue AS NUMBER)) 
        / 
    COUNT_DISTINCT(
        IF(
            CAST(revenue AS NUMBER) > 0,
            user_id, 
            NULL
        )
    )
"""

print(query)

    SUM(CAST(revenue AS NUMBER))
        /
    COUNT_DISTINCT(
        IF(
            CAST(revenue AS NUMBER) > 0,
            user_id,
            NULL
        )
    )

# ARPU (Average Revenue Per User)

In [32]:
query = """
    SUM(CAST(revenue AS NUMBER))
        /
    COUNT_DISTINCT(
        user_id
    )
"""

print(query)

    SUM(CAST(revenue AS NUMBER))
        /
    COUNT_DISTINCT(
        user_id
    )

# Average Daily Event Count

In [33]:
query = """
    COUNT(event_name) / COUNT_DISTINCT(event_date)
"""

print(query)

    COUNT(event_name) / COUNT_DISTINCT(event_date)

# Average Session Duration

In [34]:
query = """
    SUM(
        IF(
            event_name = "app_close", 
            event_time, 
            NULL
        )
    ) 
        -
    SUM(
        IF(
            event_name = "app_launch", 
            event_time, 
            NULL
        )
    ) 
        /
    COUNT_DISTINCT(
        CONCAT(user_id, CAST(event_date AS STRING))
    )
"""

print(query)

    SUM(
        IF(
            event_name = "app_close",
            event_time,
            NULL
        )
    )
        -
    SUM(
        IF(
            event_name = "app_launch",
            event_time,
            NULL
        )
    )
        /
    COUNT_DISTINCT(
        CONCAT(user_id, CAST(event_date AS STRING))
    )

# Churn Rate

In [35]:
query = """
    1 - (
        COUNT_DISTINCT(
            IF(
                DATE_DIFF(CURRENT_DATE(), event_date) <= 30, 
                user_id, 
                NULL
            )
        ) 
            / 
        COUNT_DISTINCT(
            IF(
                DATE_DIFF(CURRENT_DATE(), first_event_date) > 30 
                    AND DATE_DIFF(CURRENT_DATE(), first_event_date) <= 60, 
                user_id, 
                NULL
            )
        )
    )
"""

print(query)

    1 - (
        COUNT_DISTINCT(
            IF(
                DATE_DIFF(CURRENT_DATE(), event_date) <= 30,
                user_id,
                NULL
            )
        )
            /
        COUNT_DISTINCT(
            IF(
                DATE_DIFF(CURRENT_DATE(), first_event_date) > 30
                    AND DATE_DIFF(CURRENT_DATE(), first_event_date) <= 60,
                user_id,
                NULL
            )
        )
    )

# Conversion Rate

In [36]:
query = """
    COUNT_DISTINCT(
        IF(
            CAST(revenue AS NUMBER) > 0, 
            user_id, 
            NULL
        )
    ) 
        /
    COUNT_DISTINCT(
        user_id
    )
"""

print(query)

    COUNT_DISTINCT(
        IF(
            CAST(revenue AS NUMBER) > 0,
            user_id,
            NULL
        )
    )
        /
    COUNT_DISTINCT(
        user_id
    )

# Customer Lifetime Value (LTV)

In [37]:
query = """
    (SUM(CAST(revenue AS NUMBER)) / COUNT_DISTINCT(IF(CAST(revenue AS NUMBER) > 0, user_id, NULL)))
        *
    (1 / (1 - (COUNT_DISTINCT(IF(DATE_DIFF(CURRENT_DATE(), event_date) <= 30 AND CAST(revenue AS NUMBER) > 0, user_id, NULL)) / COUNT_DISTINCT(IF(CAST(revenue AS NUMBER) > 0, user_id, NULL))))
"""

print(query)

    (SUM(CAST(revenue AS NUMBER)) / COUNT_DISTINCT(IF(CAST(revenue AS NUMBER) > 0, user_id, NULL)))
        *
    (1 / (1 - (COUNT_DISTINCT(IF(DATE_DIFF(CURRENT_DATE(), event_date) <= 30 AND CAST(revenue AS NUMBER) > 0, user_id, NULL)) / COUNT_DISTINCT(IF(CAST(revenue AS NUMBER) > 0, user_id, NULL))))

# Daily Active Users (DAU)

In [38]:
query = """
    COUNT_DISTINCT(
        IF(
            event_name = "app_launch", 
            user_id, 
            NULL
        )
    )
"""

print(query)

    COUNT_DISTINCT(
        IF(
            event_name = "app_launch",
            user_id,
            NULL
        )
    )

# Daily Revenue

In [39]:
query = """
    SUM(CAST(revenue AS NUMBER)) / COUNT_DISTINCT(event_date)
"""

print(query)

    SUM(CAST(revenue AS NUMBER)) / COUNT_DISTINCT(event_date)

# Engagement Metrics

In [40]:
query = """
    CASE
        WHEN COUNT(event_name) < 3 THEN "Low Activity"
        WHEN COUNT(event_name) BETWEEN 3 AND 7 THEN "Medium Activity"
        ELSE "High Activity"
    END
"""

print(query)

    CASE
        WHEN COUNT(event_name) < 3 THEN "Low Activity"
        WHEN COUNT(event_name) BETWEEN 3 AND 7 THEN "Medium Activity"
        ELSE "High Activity"
    END

# Feature Adoption Rate - {event_name}

In [41]:
query = """
    COUNT_DISTINCT(
        IF(
            event_name = "app_launch", 
            user_id, 
            NULL
        )
    ) 
        /  
    COUNT_DISTINCT(
        user_id
    )
"""

print(query)

    COUNT_DISTINCT(
        IF(
            event_name = "app_launch",
            user_id,
            NULL
        )
    )
        /
    COUNT_DISTINCT(
        user_id
    )

# New Users

In [42]:
query = """
    COUNT_DISTINCT(
        IF(
            event_date = first_event_date, 
            user_id, 
            NULL
        )
    )
"""

print(query)

    COUNT_DISTINCT(
        IF(
            event_date = first_event_date,
            user_id,
            NULL
        )
    )

# Revenue Growth Rate

In [43]:
query = """
    SUM(
        IF(
            DATE_DIFF(CURRENT_DATE(), event_date) <= 30, 
            CAST(revenue AS NUMBER), 
            NULL
        )
    ) 
        -
    SUM(
        IF(
            DATE_DIFF(CURRENT_DATE(), event_date) > 30 
                AND DATE_DIFF(CURRENT_DATE(), event_date) <= 60, 
            CAST(revenue AS NUMBER), 
            NULL
        )
    ) 
        /
    SUM(
        IF(
            DATE_DIFF(CURRENT_DATE(), event_date) > 30 
                AND DATE_DIFF(CURRENT_DATE(), event_date) <= 60, 
            CAST(revenue AS NUMBER), 
            NULL
        )
    )
"""

print(query)

    SUM(
        IF(
            DATE_DIFF(CURRENT_DATE(), event_date) <= 30,
            CAST(revenue AS NUMBER),
            NULL
        )
    )
        -
    SUM(
        IF(
            DATE_DIFF(CURRENT_DATE(), event_date) > 30
                AND DATE_DIFF(CURRENT_DATE(), event_date) <= 60,
            CAST(revenue AS NUMBER),
            NULL
        )
    )
        /
    SUM(
        IF(
            DATE_DIFF(CURRENT_DATE(), event_date) > 30
                AND DATE_DIFF(CURRENT_DATE(), event_date) <= 60,
            CAST(revenue AS NUMBER),
            NULL
        )
    )

# Stickiness Ratio (DAU/MAU)

In [44]:
query = """
    COUNT_DISTINCT(
        IF(
            event_name = "app_launch", 
            user_id, 
            NULL
        )
    ) 
        /   
    COUNT_DISTINCT(
        IF(
            DATE_DIFF(event_date, first_event_date) <= 30, 
            user_id, 
            NULL
        )
    )
"""

print(query)

    COUNT_DISTINCT(
        IF(
            event_name = "app_launch",
            user_id,
            NULL
        )
    )
        /
    COUNT_DISTINCT(
        IF(
            DATE_DIFF(event_date, first_event_date) <= 30,
            user_id,
            NULL
        )
    )

# Total Revenue

In [45]:
query = """
    SUM(CAST(revenue AS NUMBER))
"""

print(query)

    SUM(CAST(revenue AS NUMBER))

# User Growth Rate

In [46]:
query = """
    (COUNT_DISTINCT(
        IF(
            DATE_DIFF(CURRENT_DATE(), first_event_date) <= 30, 
            user_id, 
            NULL
        )
    ) 
        -
    COUNT_DISTINCT(
        IF(
            DATE_DIFF(CURRENT_DATE(), first_event_date) > 30 
                AND DATE_DIFF(CURRENT_DATE(), first_event_date) <= 60, 
            user_id, 
            NULL
        )
    )) 
        /
    COUNT_DISTINCT(
        IF(
            DATE_DIFF(CURRENT_DATE(), first_event_date) > 30 
                AND DATE_DIFF(CURRENT_DATE(), first_event_date) <= 60, 
            user_id, 
            NULL
        )
    )
"""

print(query)

    (COUNT_DISTINCT(
        IF(
            DATE_DIFF(CURRENT_DATE(), first_event_date) <= 30,
            user_id,
            NULL
        )
    )
        -
    COUNT_DISTINCT(
        IF(
            DATE_DIFF(CURRENT_DATE(), first_event_date) > 30
                AND DATE_DIFF(CURRENT_DATE(), first_event_date) <= 60,
            user_id,
            NULL
        )
    ))
        /
    COUNT_DISTINCT(
        IF(
            DATE_DIFF(CURRENT_DATE(), first_event_date) > 30
                AND DATE_DIFF(CURRENT_DATE(), first_event_date) <= 60,
            user_id,
            NULL
        )
    )

# Viral Coefficient

In [47]:
query = """
    COUNT_DISTINCT(
        IF(
            source = "referral" 
                AND event_date = first_event_date, 
            user_id, 
            NULL
        )
    ) 
        /
    COUNT_DISTINCT(
        user_id
    )
"""

print(query)

    COUNT_DISTINCT(
        IF(
            source = "referral"
                AND event_date = first_event_date,
            user_id,
            NULL
        )
    )
        /
    COUNT_DISTINCT(
        user_id
    )